
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center">
<h2>Welcome to the Soccer World!</h2>
 </div>
<img style="width:1000px; height:500px; top:500px;right:500px; bottom: 500px; margin-left:200px;" src="~/images/119-1197623_soccer-sports-sport-poster-wallpaper-soccer-ball-in.jpg" />
